.header {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 9;
    width: 100%;
    min-height: 60px;
    padding: 0;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 1px 4px rgba(228, 228, 228, 0.75);
    z-index: 9999;
}

body{
    background-color: indigo;
}

div {
    display: block;
}

a, a:focus, a:hover, a:active {
    /*color: #e6400c;*/

    outline: 0;
    text-decoration: none;
}

div#navbar ul.nav li a,
body > nav > div > div.navbar-header > a.navbar-brand{
    color: plum;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /*font-family: 'Lato', sans-serif;*/
}

div#navbar ul.nav li a:focus,
div#navbar ul.nav li a:hover,
div#navbar ul.nav li a:active {
    color: #ffffff;
    outline: 0;
    text-decoration: none;
}

#navbar > ul{
    /*float: right;*/
}

@media only screen and (min-width: 500px) {
    #navbar > ul{
        float: right;
    }
}

.container{
    /*color: #ffffff;*/
}

div#about{
    margin-top: 70px;
}

/*override*/
.jumbotron,.thumbnail{
    background: rgba(255,255,255,0.75);
}

/*override*/
.timeContent div.time,
.timeContent div.title{
    font-size: 2em;
}

.timeContent div.content{
    font-size: 1.5em;
}

.r-zone .timeDirect, .l-zone .timeDirect {
    height: 2em;
    top: 1.5em;
}

.time, .time-end {
    background-color: indigo;
    color: white;
    /*font-size: 2em;*/
}

.timeContent .title {
    background: #D1BFDF;
}

h1.contentTitle{
    color: white;
    margin: 2em auto;
}

.indicator {
    color: rgb(95, 164, 224);
    position: fixed;
    top: 90%;
    right: 5%;
    z-index: 999;
    cursor: pointer;
    font-weight: bold;
}

.indicator span.glyphicon{
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    /*-moz-text-shadow:3px 3px 3px #cccccc;;*/
    /*-webkit-text-shadow:3px 3px 3px #cccccc;;*/
    /*text-shadow:3px 3px 3px #cccccc;;*/
}

#contact a{
    font-size: 1.5em;
    color: white;
    vertical-align: bottom;
}
#contact img.iconImg{
    width: 1.5em;
    /*height: 2em;*/
    /*color: white;*/
}

.contactList{
    text-align: center;
}



.skill{
    color: white;
    font-size: 2em;
    text-align: center;
}

.skill .name{
    padding-top: 2em;
}

.skill .bucket{
    width: 10em;
    height: 10em;
    border-radius: 10em;
    border: solid;
    overflow: hidden;
    /*float: left;*/
    margin: 1em auto;
}

.skill .percentage{
    float: left;
    z-index: 999;
    margin: 4em;
}

.skill .bucket .water{
    width:10em;
    /*height: 1em;*/
    /*margin-top: 4em;*/
    background:rgb(12, 205, 205);
}
