.header {
    position: absolute;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    z-index: 9;
    width: 100%;
    min-height: 60px;
    padding: 0;
    background: rgba(255,255,255,0.75);
    box-shadow: 0 1px 4px rgba(228, 228, 228, 0.75);
    z-index: 9999;
}

body{
    background-color: indigo;
}

div {
    display: block;
}

a, a:focus, a:hover, a:active {
    /*color: #e6400c;*/

    outline: 0;
    text-decoration: none;
}

div#navbar ul.nav li a,
body > nav > div > div.navbar-header > a.navbar-brand{
    color: plum;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /*font-family: 'Lato', sans-serif;*/
}

div#navbar ul.nav li a:focus,
div#navbar ul.nav li a:hover,
div#navbar ul.nav li a:active {
    color: #ffffff;
    outline: 0;
    text-decoration: none;
}

#navbar > ul{
    float: right;
}

.container{
    color: #ffffff;
}

div#about{
    margin-top: 60px;
}

/*override*/
.jumbotron,.thumbnail{
    background: rgba(255,255,255,0.75);
}
